@import "./favicons";

.icon-wrapper {
  position: relative;
  display: inline-block;
}

.dashicons {
  padding-top: 4px;
  cursor: pointer;

  &-move {
    cursor: move;
  }

  &-format-gallery {
    position: absolute;
    z-index: 1;
    right: 3px;
    top: calc(50% - 2px);
    transform: translateY(-50%);
    opacity: .35;
  }
}

input[name$="[icon]"] {
  padding-right: 23px !important;

  &:hover + .dashicons-format-gallery,
  + .dashicons-format-gallery:hover {
    opacity: 1;
  }
}

#share {
  display: flex;
  margin-top: 2em;

  ul.tabs {
    box-sizing: border-box;
    width: 150px;
    border-right: 1px solid rgba(#000, .15);
    margin: 0;
    padding: 0;

    li {
      margin: 0;

      &.enabled {
        a {
          position: relative;
          padding-left: calc(16px + 7px + .42em);
          color: #46b450;

          &:before {
            content: "✓";
            text-align: center;
            position: absolute;
            top: 50%;
            left: 7px;
            transform: translate(0, -50%);
            width: 16px;
            height: 16px;
            background: none no-repeat scroll center center transparent;
            background-size: cover;
          }

          @each $network, $url in $favicons {
            &[href="#tab_#{$network}"]:before {
              content: "";
              background: url(https://www.google.com/s2/favicons?domain=#{$url}) no-repeat scroll center center transparent;
            }
          }
        }
      }

      + li {
        margin-top: -1px;
      }
    }

    a {
      display: block;
      text-decoration: none;
      padding: 7px;
      border: 1px solid transparent;
      margin-right: -1px;

      &:hover,
      &.nav-tab-active {
        border-color: rgba(#000, .15);
        border-right-color: #f1f1f1;
        background: linear-gradient(to right, #fff, transparent);
      }

      &.nav-tab-active {
        color: #23282d;
      }

      &.error {
        color: #dc3232;
      }
    }

    &.ui-sortable li a {
      cursor: move;
    }
  }

  .panels {
    padding-left: 20px;
    flex-grow: 1;
    font-size: 13px;
    line-height: 1.5;

    table {
      thead {
        td {
          padding: 0;
        }

        div {
          padding: 1px 12px;
          background-color: #fff;
          border-left: 4px solid #dc3232;
          box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
          margin-bottom: 15px;
        }

        p {
          margin: .5em 0;
          padding: 2px;
        }
      }

      &:not(.active) {
        display: none;
      }
    }

    ul.notes {
      padding-left: 1.14em;
      list-style: disc;
    }
  }
}

#share__socials.ui-sortable {
  margin-left: -10px;

  th {
    padding-left: 10px;
  }

  tr {
    cursor: move;

    &:hover {
      background-color: rgba(#000, 0.05);
    }
  }
}

#follow-list {
  margin: 1em 0;

  td {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}