ul {
  @each $action in share, follow {
    &.#{$action} {
      list-style: none;
      margin-right: -.14em;
      margin-left: -.14em;
      padding-left: 0;
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;

      li {
        margin: .14em;
      }

      a {
        display: block;
      }
    }
  }
}