ul.share a {
    position: relative;
    padding: .28em .56em;
    padding-left: calc(16px + 7px + .28em);
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
}

ul.share a.share__link {
    background-color: #aaa;
}

ul.share a.share__link:hover {
    background-color: #c7c7c7;
}

ul.share a.share__facebook {
    background-color: #4862a3;
}

ul.share a.share__facebook:hover {
    background-color: #6981bd;
}

ul.share a.share__twitter {
    background-color: #52aaef;
}

ul.share a.share__twitter:hover {
    background-color: #88c4f4;
}

ul.share a.share__google {
    background-color: #d74337;
}

ul.share a.share__google:hover {
    background-color: #e17168;
}

ul.share a.share__whatsapp {
    background-color: #43d854;
}

ul.share a.share__whatsapp:hover {
    background-color: #74e280;
}

ul.share a.share__pinterest {
    background-color: #b90000;
}

ul.share a.share__pinterest:hover {
    background-color: #f40000;
}

ul.share a.share__tumblr {
    background-color: #36465d;
}

ul.share a.share__tumblr:hover {
    background-color: #4c6282;
}

ul.share a.share__linkedin {
    background-color: #009fe5;
}

ul.share a.share__linkedin:hover {
    background-color: #21bbff;
}

ul.share a.share__instagram {
    background-color: #ed4a55;
}

ul.share a.share__instagram:hover {
    background-color: #f27f87;
}

ul.share a.share__xing {
    background-color: #b0d400;
}

ul.share a.share__xing:hover {
    background-color: #d6ff10;
}

ul.share a.share__reddit {
    background-color: #ff4500;
}

ul.share a.share__reddit:hover {
    background-color: #ff703b;
}

ul.share a.share__deviantart {
    background-color: #05cc47;
}

ul.share a.share__deviantart:hover {
    background-color: #12f95f;
}

ul.share a:before {
    position: absolute;
    top: 50%;
    left: 7px;
    width: 16px;
    height: 16px;
    content: "";
    -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
    text-align: center;
    background: none no-repeat scroll center center transparent;
    background-size: cover;
}

ul.share a.share__facebook:before {
    background-image: url(https://www.google.com/s2/favicons?domain=https://www.facebook.com/);
}

ul.share a.share__google:before {
    background-image: url(https://www.google.com/s2/favicons?domain=https://plus.google.com/);
}

ul.share a.share__linkedin:before {
    background-image: url(https://www.google.com/s2/favicons?domain=https://www.linkedin.com/);
}

ul.share a.share__pinterest:before {
    background-image: url(https://www.google.com/s2/favicons?domain=https://www.pinterest.com/);
}

ul.share a.share__twitter:before {
    background-image: url(https://www.google.com/s2/favicons?domain=https://twitter.com/);
}

ul.share a.share__whatsapp:before {
    background-image: url(https://www.google.com/s2/favicons?domain=https://www.whatsapp.com/);
}

ul.follow a {
    position: relative;
    padding: .28em .56em;
    padding-left: calc(16px + 7px + .28em);
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
}

ul.follow a.follow__link {
    background-color: #aaa;
}

ul.follow a.follow__link:hover {
    background-color: #c7c7c7;
}

ul.follow a.follow__facebook {
    background-color: #4862a3;
}

ul.follow a.follow__facebook:hover {
    background-color: #6981bd;
}

ul.follow a.follow__twitter {
    background-color: #52aaef;
}

ul.follow a.follow__twitter:hover {
    background-color: #88c4f4;
}

ul.follow a.follow__google {
    background-color: #d74337;
}

ul.follow a.follow__google:hover {
    background-color: #e17168;
}

ul.follow a.follow__whatsapp {
    background-color: #43d854;
}

ul.follow a.follow__whatsapp:hover {
    background-color: #74e280;
}

ul.follow a.follow__pinterest {
    background-color: #b90000;
}

ul.follow a.follow__pinterest:hover {
    background-color: #f40000;
}

ul.follow a.follow__tumblr {
    background-color: #36465d;
}

ul.follow a.follow__tumblr:hover {
    background-color: #4c6282;
}

ul.follow a.follow__linkedin {
    background-color: #009fe5;
}

ul.follow a.follow__linkedin:hover {
    background-color: #21bbff;
}

ul.follow a.follow__instagram {
    background-color: #ed4a55;
}

ul.follow a.follow__instagram:hover {
    background-color: #f27f87;
}

ul.follow a.follow__xing {
    background-color: #b0d400;
}

ul.follow a.follow__xing:hover {
    background-color: #d6ff10;
}

ul.follow a.follow__reddit {
    background-color: #ff4500;
}

ul.follow a.follow__reddit:hover {
    background-color: #ff703b;
}

ul.follow a.follow__deviantart {
    background-color: #05cc47;
}

ul.follow a.follow__deviantart:hover {
    background-color: #12f95f;
}

ul.follow a:before {
    position: absolute;
    top: 50%;
    left: 7px;
    width: 16px;
    height: 16px;
    content: "";
    -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
    text-align: center;
    background: none no-repeat scroll center center transparent;
    background-size: cover;
}

ul.follow a.follow__facebook:before {
    background-image: url(https://www.google.com/s2/favicons?domain=https://www.facebook.com/);
}

ul.follow a.follow__google:before {
    background-image: url(https://www.google.com/s2/favicons?domain=https://plus.google.com/);
}

ul.follow a.follow__linkedin:before {
    background-image: url(https://www.google.com/s2/favicons?domain=https://www.linkedin.com/);
}

ul.follow a.follow__pinterest:before {
    background-image: url(https://www.google.com/s2/favicons?domain=https://www.pinterest.com/);
}

ul.follow a.follow__twitter:before {
    background-image: url(https://www.google.com/s2/favicons?domain=https://twitter.com/);
}

ul.follow a.follow__whatsapp:before {
    background-image: url(https://www.google.com/s2/favicons?domain=https://www.whatsapp.com/);
}
